@import url('https://fonts.googleapis.com/css?family=Montserrat|Overpass');

.wy-side-nav-search {
    background-color: #010101;
}

.wy-side-nav-search a.icon-home {
    width: 100%
}

.wy-side-nav-search input[type=text] {
    border-radius: 5px
}

.wy-menu-vertical a:hover {
    background-color: #ADAFB3;
    color: #FFF
}

.wy-nav-side {
    background-color: #010101;
}

.wy-menu-vertical header,
.wy-menu-vertical p.caption {
    color: #F5F5F5;
}

.wy-nav-top {
    background-color: #353535;
}

.wy-nav-top a {
    width: 100%
}
p{
    font-family: 'Overpass', sans-serif;
    font-weight:500;
    line-height:25px;
}
h1,h2,h3,h4,h5{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.logo{
    max-width:75% !important;
}
